.login{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login h1 {
    background-image: linear-gradient(to bottom, white, rgb(190, 190, 190));
    background-clip: text;
    color: transparent;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

#login-form{
    min-width: 500px;
    min-height: 400px;
    padding: 2rem;
}

.login .form-inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form-control label {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: .6rem;
    color: #eeecec;
}

.form-control input {
    color: #000000;
    padding: 1.3rem .5rem;
    font-size: 18px;
    font-family: "Lato", sans-serif;
    border-radius: 10px;
}

.action-control {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    gap: 1rem;
}

.action-control a {
    display: flex;
    flex: 1;
    text-decoration: none;
}

.login button {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    color: #0c0101;
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(119, 119, 119));
    cursor: pointer;
    opacity: .9;
    flex: 1;
    border-radius: 10px;
}

.login button:hover {
    opacity: 1;
}

#register {
    color: rgb(255, 255, 255);
    background: linear-gradient(to bottom, rgb(255, 2, 2), rgb(97, 30, 30));
}

#password-forgot {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-inline: 150px;
}



@media (max-width: 850px) {
    .login{
        padding: 0;
        margin: 0;
        width: 800px;
    }

    .login h1 {
        padding-top: 130px;
    }

    .form-control label {
        font-size: 25px;
    }

    .form-inputs {
        padding: 40px 0 200px;
        font-size: 20px;
    }

    .action-control button{
        font-size: 18px;
    }

    #password-forgot button {
        font-size: 18px;
    }
}