.products {
    padding: 7rem;
}

.products h2 {
    /* display: flex; */
    /* text-align: center; */
    font-size: 35px;
    background-image: linear-gradient(to bottom, rgb(255, 33, 33), rgb(170, 26, 26));
    /* background-clip: text; */
    /* color: transparent; */
}


.products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 30px;
}

.products-grid a {
    text-decoration: none;
}

.product-card {
  background-color: hsla(0, 0%, 50%, 0.03);
  border-radius: 20px;
  text-align: center;
  padding: 10px;
  transition: transform 0.2s ease;
}

.product-card:hover {
  border: 1px solid rgb(107, 106, 106);
  background-color: hsla(0, 21%, 91%, 0.03);
}

.price {
    font-size: 35px;
    background-image: linear-gradient(to bottom, white, rgb(207, 206, 206));
    background-clip: text;
    color: transparent;
    font-weight: bold;
    padding: 30px 0 10px;
}


.product-card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}


/* Mobile */
@media (max-width: 850px) {
    .products {
        padding: 70px 0;
        width: 800px;
    }

    .products h1 {
        justify-content: center;
        text-align: center;
        padding-top: 70px;
        font-size: 45px;
    }

    .products h2 {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 45px;
        background-image: linear-gradient(to bottom, rgb(255, 33, 33), rgb(170, 26, 26));
        background-clip: text;
        color: transparent;
    }

    .products-container1,
    .products-container2,
    .products-container3 {
        display: block;
        padding-top: 10px;
        font-size: 40px;
    }

    .product1,
    .product2,
    .product3,
    .product4,
    .product5,
    .product6,
    .product7,
    .product8, 
    .product9 {
        padding-top: 50px;
        margin: 60px;
        border-radius: 80px;
        display: block;
        justify-content: center;
        align-items: center;
    }

    .price {
        font-size: 40px;
    }

    .products-container1 img,
    .products-container2 img,
    .products-container3 img {
        margin-left: 50px;
        height: 500px;
    }


}