.navbar-accessed{
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, rgb(201, 19, 19), rgb(26, 20, 20));
    display: flex;
    align-items: center; 
    justify-content: space-between;
    font-family: "Lato", sans-serif;
}

.navbar-accessed img {
    padding: 100px 0 0 30px;
    height: 180px;
    width: auto;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-right: 50px;
    text-transform: uppercase;
}

.navbar-accessed ul li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding: 10px 15px;
}

.navbar-accessed ul li a:hover {
    color: #ddd;
    transition: 0.5s;
}

.default-btn{
    background-color: rgb(43, 20, 20);
    border-radius: 5px;
}

